* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-color: #f4f4f4;

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: $main-color;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: #a0a0a0;
  padding: 1rem;
  align-items: center;
  .logo {
    display: inline-flex;
    width: 90%;
    max-width: 360px;
  }
  .navigation__section_4a530001 {
    display: inline-flex;
    border: 2px solid #555;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin-left: 1rem;
    background-color: $main-color;
  }
  form {
    .searchBox {
      padding: 3px;
      width: 80%;
      height: 2rem;
      max-width: 560px;
      border: none;
      padding: 0 1rem;
      background-color: $main-color;
      font-size: 1rem;
      &:focus {
        outline: none;
      }
    }

    .searchButton {
      width: 2rem;
      height: 2rem;
      max-width: 120px;
      border: none;
      background-color: $main-color;
      cursor: pointer;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ddd;
  .nav__links {
    display: flex;
    margin-left: auto;
    width: 60%;
    max-width: 360px;
    .nav__link {
      margin: 0 1rem;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
