* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: #a0a0a0;
  padding: 1rem;
  align-items: center;
}
header .logo {
  display: inline-flex;
  width: 90%;
  max-width: 360px;
}
header .navigation__section_4a530001 {
  display: inline-flex;
  border: 2px solid #555;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 1rem;
  background-color: #f4f4f4;
}
header form .searchBox {
  padding: 3px;
  width: 80%;
  height: 2rem;
  max-width: 560px;
  border: none;
  padding: 0 1rem;
  background-color: #f4f4f4;
  font-size: 1rem;
}
header form .searchBox:focus {
  outline: none;
}
header form .searchButton {
  width: 2rem;
  height: 2rem;
  max-width: 120px;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ddd;
}
nav .nav__links {
  display: flex;
  margin-left: auto;
  width: 60%;
  max-width: 360px;
}
nav .nav__links .nav__link {
  margin: 0 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}